html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    margin: 0;
    scroll-behavior: smooth;
    
}
.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
}
.logo img{
    margin-left: 20px;
}
.toggle{
    display: flex;
    padding: 20px;
    width: auto;
    gap: 40px;
    justify-content: space-around;
    
}
.toggle a{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #fafafa;
    background: #ddbea8;
    border-radius: 7px;
    width: 100px;
    font-family: 'Bad Script', cursive;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1.5px;
}
.toggle a:hover{
    background-color: #dd9b6d;
}
.toggle li{
    list-style: none;
    
}
.logo input{
    display: none;
    
}
.nombre{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(centromesablancodef.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.marca{
    font-family: 'Oleo Script Swash Caps', cursive;
    display: inline-block;
    width: 100%;
    height: 60px;
    background-color: rgba(17, 17, 17, 0.6);
    margin-top: 400px;
    border-bottom: 5px solid #ddbea8;
    color: white;
    font-size: 3rem;
    text-align: center;
    word-spacing: 4px;
    font-style: oblique;
}
h1{
    text-align:left;
    font-family: 'Petit Formal Script', cursive;
    font-style: oblique;
    font-size: 2rem;
    text-align: center;

}
.novios{
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 500px;
    box-sizing: border-box;
    margin-left: 10px;
    border-left: 20px solid #ffddd2;
    border-bottom: 10px solid #ffddd2;
    
}
.novios img{
    width: 50%;
    height: 400px;
    margin-top: 30px;
    box-shadow: -17px 23px 13px -6px rgba(226,149,120,0.75);
    -webkit-box-shadow: -17px 23px 13px -6px rgba(226,149,120,0.75);
    -moz-box-shadow: -17px 23px 13px -6px rgba(226,149,120,0.75);
    box-sizing: border-box;
}
.presentacion{
    width: 30%;
    font-family: 'Bad Script', cursive;
    font-size: 1.2rem;
    font-weight: 200;
    box-sizing: border-box;
}
.trajes{
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.ambos {  
    display: grid;
    background-color: black;
    width: 80%;
    grid-template-columns: 1fr 1.4fr 0.6fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    gap: 4px 4px;
    grid-auto-flow: row;
    box-sizing: border-box;
    grid-template-areas:
      "ramo ramo . ."
      "ramo ramo percha percha"
      "espalda espalda percha percha"
      "espalda espalda . .";
  }

.ramo { grid-area: ramo; }
.espalda { grid-area: espalda; }
.percha { grid-area: percha; }
  
.el {  
    display: grid;
    background-color: black;
    width: 90%;
    grid-template-columns: 0.7fr 1.3fr 1.3fr 0.7fr;
    grid-template-rows: 1fr 0.9fr 0.5fr 1.6fr;
    gap: 4px 4px;
    grid-auto-columns: auto;
    grid-auto-flow: auto;
    grid-template-areas:
      "trajeb trajeb chaleco chaleco"
      "trajeb trajeb chaleco chaleco"
      "trajeb trajeb chaleco chaleco"
      ". anillos anillos .";
    box-sizing: border-box;
}
.el img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ambos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.trajeb { grid-area: trajeb; }
  
.chaleco { grid-area: chaleco; }
  
.anillos { grid-area: anillos; }
  

.cards{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.cards h2{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 3rem;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}
.divide{
    width: 600px;
    height: 5px;
    align-self: center;
    background-color: white;
    margin-bottom: 50px;
    margin-top: 50px;
}

.nosotras{
    display: flex;
    width: 80%;
    margin: auto;
    height: 40%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    
}
.card-nosotras{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 26px 9px rgba(255,221,210,0.67) inset;
    -webkit-box-shadow: 0px 0px 26px 9px rgba(255,221,210,0.67) inset;
    -moz-box-shadow: 0px 0px 26px 9px rgba(255,221,210,0.67) inset;
    color: white;
    font-size: 1.4rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
}
.nombreapellido{
    font-size: 1.8rem;
}
.card-nosotras img{
    width: 150px;
    height: 150px;
    margin-top: -40px;
    border-radius: 50%;
    border: #ddbea8 3px solid;
}

.invitacion{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    align-items: center;
}

.invitacion img{
    width: 25%;
    height: auto;
    box-shadow: 10px -9px 5px 11px rgba(221,190,168,0.75);
    -webkit-box-shadow: 10px -9px 5px 11px rgba(221,190,168,0.75);
    -moz-box-shadow: 10px -9px 5px 11px rgba(221,190,168,0.75);
}
.invi {
    background-color: #FFFCE5;
}
.invi h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 3rem;
    padding-left: 30px;
    padding-top: 15px;
    margin-bottom: 0;
    
}

.invi p{
    font-family: 'Bad Script', cursive;
    font-size: 1.8rem;
    padding: 30px;
    margin-top: 0;
}

.cake{
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 50px;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.explicacion{
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    border-top: solid 20px rgba(0, 0, 0, 0.5);
    border-left: solid 30px black;
}
.explicacion p{
    font-family: 'Bad Script', cursive;
    font-size: 1.8rem;
    padding: 30px;
    margin-top: 0;
    
}
.explicacion h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 3rem;
    padding-left: 30px;
    padding-top: 15px;
    margin-bottom: 0;
    margin-top: 0;
    
}
.container{
    background-color: white;
    width: 80%;
    height: 600px;
    padding: 30px;
    border-bottom: solid 30px #ddbea8;
    border-right: solid 20px #ddbea857;
    margin-bottom: 50px;
    
  }
  
  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
      
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
  
  ul.slider li:first-child {
    opacity: 1; 
  }
  
  ul.slider li:target {
    opacity: 1; 
  }
  
  .menu{
    text-align: center;
    margin: 8px;
    height: 40px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
  }
  
  .menu li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: #ddbea8;
    padding: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 100%;
    font-family: 'Petit Formal Script', cursive;
    text-align: center;
  }
  .mesas {  
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.9fr 1.1fr 1fr 1fr;
    gap: 4px 4px;
    grid-auto-flow: row;
    grid-template-areas:
      "div1 div2 div2"
      "div1 div2 div2"
      "div1 div5 div4"
      "div3 div3 div4"
      "div3 div3 div4";
  }
  .mesas img{
    width: 100%;
    height: 100%;
  }
  .div1 { grid-area: div1; }
  
  .div2 { grid-area: div2; }
  
  .div3 { grid-area: div3; }
  
  .div4 { grid-area: div4; }
  
  .div5 { grid-area: div5; }
  
  .div5{
        background-color: #ddbea8;
        width: auto;
        display: flex;
        align-items: center;
    }
.div5 h2{

    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding: 10px;
    }

.proveedores{
        width: 100%;
        font-family: 'Bebas Neue', cursive;
        font-size: 2rem;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 50px;
        background: linear-gradient(-45deg, #2e2d2d, #5c5b5b, #7f8181, #202020);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        
    }
    
@keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
.marcas{
        width: 90%;
        margin: auto;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 80px;
        align-self: center;    
    }
    .marcas img{
        border-radius: 50%;
    }
    

    
  @media (max-width:1200px){
    .logo img{
        margin-left: 0;
    }
    .novios{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .novios img{
        width: 70%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .presentacion{
        width: 80%;
    }
    
    .cake{
        flex-direction: column;
        align-items: center ;
        width: 100%;
        margin: 30px 0px 30px 0px;
    }
    .explicacion{
        width: 90%;
        border-top: solid 20px rgba(0, 0, 0, 0.5);
        border-left: solid 20px black;
    }
    .conteiner{
        width: 80%;
        height: auto;
        box-sizing: border-box;
        
    }
    .slider{
        width:100%;
    }
    .slider img{
        width: auto;
        height: auto;
    }
}
@media (max-width:1050px){
    .logo img{
        margin-left: 0;
    }
    .toggle{
        gap: 20px;
    }
    }

@media (max-width:992px){
    .logo{
        justify-content: space-around;
    }
    .logo img{
        width: 150px;
        height: 150px;
        margin-left: 0;
    }
    .menu-button{
        margin-top: 0px;
        margin-right: 20px;
        float: right;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 20px;
        padding: 10px;
        border-radius: 7px;
        background: #ddbea8;
        cursor: pointer;
        
    }
    .menu-button span{
        width: 30px;
        height: 2px;
        background: black;
    }
    .menu-toggle{
        display: none;
    
    }
    .toggle{
        display: none;
        text-align: center;
        background: #ddbea8;
        border-radius: 7px;
        padding: 20px;
        width: 120px;
        margin-top: 50px;
        margin-left: -110px;
        position: absolute;
        z-index: 9999;

    }
    .toggle li{
        list-style: none;
        display: block;
        padding: 10px;
        color: #fafafa;
        text-align: center;
        
    }
    .menu-toggle:checked + .toggle{
        display: block;
    }
    .marcas img{
        width: 120px;
        height: 120px;
    }
    .marcas{
        gap: 30px;
    }
    
    
}
    
@media (max-width:800px){
    
    .card-nosotras{
        width: 200px;
        height: 200px;  
    }
    .card-nosotras img{
        width: 80px;
        height: 80px;
        margin-top: -40px;
    }
}   
        
@media (max-width:770px){
    
    .novios img{
        width: 90%;
    }
    .invitacion{
        flex-direction: column;
    }
    .invitacion img{
        width: 70%;
    }
    .trajes{
        gap: 15px;
    }
    .ambos{
        width: 100%;
        gap: 4px 4px;

    }
    .el{
        width: 100%;
        gap: 4px 4px;
    }
}
@media (max-width:530px){
    .nosotras{
        width: 100%;
        
    }
}
@media (max-width:450px){
    
    .marcas img{
        width: 100px;
        height: 100px;
        gap: 15px;
    }
}  
